* {
    margin: 0;
    padding: 0;
}

.header {
    background-color: black;
    height: 60px;
    width: 100%;
    position: fixed;
    padding: 0 24px;
}

.header nav {
    height: 60px;
    display: flex;
    color: white;
    font-size: 0.85rem;
    align-items: center;

}

.menu {
    width: 180px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 50px;
}

.actions {
    margin: 0 24px;
    display: flex;
    align-items: center;
    height: 100%;
    width:100%;
    justify-content: flex-end;
    
}

nav a{
    color: white;
    text-decoration: none;
}

.actions a {
    margin: 0 20px;
}

.content {
    display: flex;
    top: 200px;
    left: 200px;
    position: absolute;
}

.content {
        text-align:center;
        padding:3%;
        border:thin solid black;
}

input[type="file"]{
    display: none;
}

label {
    cursor: pointer;
}

#imageName {
    color: green;
}