* {
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar {
    height: 60px;
    background-color: #0F1111;
    color: white;
    display: flex;
    align-items: center;
}

.nav-logo {
    display: flex;
    align-items: center;
    height: 50px;
    width: 150px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
}

.border {
    border: 2px solid transparent;
}

.border:hover {
    border: 2px solid white;
}

.menu {
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.navbar a{
    text-decoration: none;
    color: white;
}

.nav-action {
    height: 50px;
    width: 1100px;
    display: flex;
    justify-content: flex-end;
}

.nav-action .actions {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 200px;
    height: 50px;
}

.section1 {
    background-image: url("/static/section-main.jpg");
    height: 1000px;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.content {
    height: 300px;
    width: 500px;
    display: block;
    position: absolute;
    top: 100px;
}

.form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f4f4f4;
}

label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
}

select, input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.result {
    height: 200px;
    width: 300px;
    display: block;
    text-align: center;
    top: 330px;
    position: absolute;
}


