<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://use.fontawesome.com/3a2eaf6206.js"></script>
    <title>LoveImg</title>
</head>

<body>
    <header class="header">
        <nav>
            <a class="logo" href="/" title="LoveImg">
                LOVEIMG
            </a>
            <div class="menu">
                ALL Image Tools
            </div>
            <div class="actions">
                <a href="/login">Login</a>
                <a href="/register">Sign Up</a>
            </div>
        </nav>
    </header>
    <div class="content">
        <label for="inputTag">
            Select Image <br />
            <i class="fa fa-2x fa-camera"></i>
            <input id="inputTag" type="file" />
            <br />
            <span id="imageName"></span>
        </label>
    </div>
</body>

</html>