<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://use.fontawesome.com/3a2eaf6206.js"></script>
    <title>LoveImg</title>
</head>

<body>
    <header>
        <div class="navbar">
            <div class="nav-logo border">
                <div class="logo">
                    <i class="fa-light fa-heart"></i>
                    LOVEIMG
                </div>
            </div>
            <div class="menu border">
                All Image Tools
            </div>
            <div class="nav-action">
                <div class="actions border">
                    <a class="border" href="/login">Login</a>
                    <a class="border" href="/register">Sign Up</a>
                </div>
            </div>
        </div>
    </header>

    <div class="section1">
        <div class="content">
            <form action="/edit" method="post" enctype="multipart/form-data">
                <label for="imageInput">Choose a Image</label>
                <input type="file" id="imageInput" name="imageInput">

                <label for="operations">Choose an operation you want to perform</label>
                <select id="operations" name="operations">
                    <option value="none" selected="true">-- none --</option>
                    <option value="resize">resize</option>
                    <option value="blur">blur</option>
                    <option value="remove background">remove background</option>
                </select>

                <button type="submit">Submit</button>
            </form>
        </div>


        {% if processed_filename %}
        <div class="result">
            <h2>Processed Image</h2>
            <p><a href="{{ url_for('download', filename=processed_filename) }}" download>Download Processed Image</a>
            </p>
        </div>
        {% endif %}
    </div>
</body>

</html>