<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://use.fontawesome.com/3a2eaf6206.js"></script>
    <title>LoveImg</title>
</head>

<body>
    <header>
        <div class="navbar">
            <div class="nav-logo border">
                <div class="logo">
                    LOVEIMG
                </div>
            </div>
            <div class="menu border">
                All Image Tools
            </div>
            <div class="nav-action">
                <div class="actions border">
                    <a class="border" href="/login">Login</a>
                    <a class="border" href="/register">Sign Up</a>
                </div>
            </div>
        </div>
    </header>
    
    <div class="section1">
        <div class="content">
            <form action="/edit" method="post">
                <label for="imageInput">Choose a Image</label>
                <input type="file" id="imageInput" name="imageInput">

                <label for="dropdown">Choose an operation you want to perform</label>
                <select id="dropdown" name="dropdown">
                    <option value="option1">Option1</option>
                    <option value="option2">Option2</option>
                    <option value="option3">Option3</option>
                </select>

                <button type="submit">Submit</button>
            </form>
        </div>
    </div>



</body>

</html>